._6ijr{background-color:#f2f3f5;padding:7px 7px 6px 11px}._6ijr ._6ijs{background-color:#fff}
.fbSettingsMobileSMSSelector{display:inline}

#bootloader_tz8vt{height:42px;}.bootloader_tz8vt{display:block!important;}